APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM=null
MAIL_NAME=null

OAUTH2_ID_FACEBOOK=null
OAUTH2_SECRET_FACEBOOK=null

OAUTH2_ID_GITHUB=null
OAUTH2_SECRET_GITHUB=null

OAUTH2_ID_GOOGLE=null
OAUTH2_SECRET_GOOGLE=null

OAUTH2_ID_GUILDWARS2=null
OAUTH2_SECRET_GUILDWARS2=null

OAUTH2_ID_TWITTER=null
OAUTH2_SECRET_TWITTER=null

GOOGLE_ANALYTICS=null
GOOGLE_WEBMASTERTOOLS=null
