.teaser {
    max-width: $width;
    margin: 0 auto;

    img {
        max-width: 800px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    + .content {
        margin-top: 0;
    }
}


$imageWidth: 55%;

%welcome-section {
    margin: 0 -40px;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &:first-child {
        margin-top: -40px;
    }
    &:last-child {
        margin-bottom: -40px;
    }
}

.welcome-section__content {
    padding: 40px;
}

.welcome-section__image {
    position: absolute;
    top: 0; bottom: 0;
    margin: -1px;
    width: $imageWidth;
    z-index: -1;
    
    background-size: cover;
    background-repeat: no-repeat;

    @media( max-width: 860px ) {
        position: static;
        width: 100%;
        padding-top: 50%;
        margin: 0;
    }
}

.welcome-section--left {
    @extend %welcome-section;

    .welcome-section__content {
        margin-right: $imageWidth;

        @media( max-width: 860px ) {
            margin-right: 0;
        }
    }

    .welcome-section__image {
        right: 0;
        background-position: left center;
    }
}

.welcome-section--right {
    @extend %welcome-section;

    .welcome-section__content {
        margin-left: $imageWidth;

        @media( max-width: 860px ) {
            margin-left: 0;
        }
    }

    .welcome-section__image {
        left: 0;
        background-position: right center;
    }
}


.welcome-section--dark {
    background-color: #000;
    color: #fff;

    p { color: #e0e0e0; }
}

.welcome-button {
    text-align: center;
    margin-top: 40px;
}

.welcome-stats {
    span {
        white-space: nowrap;
        line-height: 1;
    }
    em {
        font-family: $fontSerif;
        font-style: normal;
        font-size: 1.4em;
        letter-spacing: 1px;
    }
}
