.user-badge--admin {
    color: #fff;
    background: #B7000D;
    border-radius: 3px;
    padding: 2px 4px;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
    vertical-align: text-bottom;
    display: inline-block;
    line-height: 11px;
}
