@import "colors", "config", "mixin";

.wrapper {
    padding: 0 8px;
}

.content {
    max-width: $width;
    margin: 40px auto;

    background: #FFFFFF;

    padding: 40px;
    border-radius: 1.5px;

    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);


    a {
        color: $brand;
    }
}
