@import "colors", "config", "mixin";

.wrapper {
    padding: 0 8px;
}

.content {
    width: 100%;
    max-width: $width;
    margin: 40px auto;

    background: #FFFFFF;

    padding: 40px;
    border-radius: 1.5px;

    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);

    @media( max-width: 960px ) {
        margin: 8px auto;
    }

    a {
        color: $brand;
    }
}

.content__container {
    display: flex;
    margin: 0 -40px;
}

.content__left {
    float: left;

    flex-shrink: 0;

    width: 290px;
    border-right: 1px solid #eee;
    padding: 0 24px 0 40px;

    h2 {
        a {
            float: right;
            font-size: 12px;
            line-height: 30px;
            font-weight: normal;
        }
    }
}

.content__right {
    flex: 1;

    overflow: hidden;
    padding: 0 40px 0 24px;
}

@media (max-width: 786px) {
    .content__container {
        flex-direction: column;
        margin: 0;
    }

    .content__left {
        float: none;
        width: auto;
        padding: 0 0 24px 0;
        border-bottom: 1px solid #eee;
        border-right: none;
    }

    .content__right {
        padding: 24px 0 0 0;
        overflow: visible;
    }
}

.body--red {
    background: $brand;

    .header {
        box-shadow: none;
    }

    .footer {
        color: mix( $fontLight, $brand, 50% );
    }
}
