@import "colors", "config", "mixin";

.wrapper {
    padding: 0 8px;
}

.content {
    width: 100%;
    max-width: $width;
    margin: 40px auto;

    background: #FFFFFF;

    padding: 40px;
    border-radius: 1.5px;

    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);

    a {
        color: $brand;
    }
}

.content__container {
    display: flex;
}

.content__left {
    float: left;

    flex-shrink: 0;

    width: 250px;
    border-right: 1px solid #eee;
    padding-right: 24px;

    h3 {
        margin-top: 0;
        font-size: 16px;
        line-height: 16px;

        a {
            float: right;
            font-size: 12px;
            line-height: 16px;
            font-weight: normal;
        }
    }
}

.content__right {
    flex: 1;

    overflow: hidden;
    padding-left: 24px;
    padding-bottom: 16px;
}
