.sidebar-nav {
    padding: 0;
    margin: 0 -24px 0 -40px;
    list-style: none;

    > li > a {
        display: block;
        padding: 12px 24px 12px 40px;

        &.active {
            border-left: 2px solid $brand;
            padding-left: 38px;
        }

        &:after {
            content: '〉';
            color: #aaa;
            margin-left: 4px;
            font-weight: bold;
            float: right;
        }

        &:hover {
            background-color: #fafafa;
        }
    }


    @media (max-width: 786px) {
        margin: 0 -40px;

        > li > a {
            padding: 12px 40px;
        }
    }
}
