@import "accounts";


dl.settings__definition-list {
    margin: 20px 0 0;

    & > dt {
        margin: 4px 0;
        font-weight: bold;
    }
    & > dd {
        margin: 4px 0 12px;
    }
}

.settings-sidebar {
    a {
        display: block;
        padding: 12px;

        &:after {
            content: '〉';
            color: #aaa;
            margin-left: 4px;
            font-weight: bold;
            float: right;
        }

        &:hover {
            background-color: #fafafa;
        }
    }
}
